<body>
  <div class="profil card shadow-sm">
    <img [src]="imageUrl" alt="Profile Pic">
    <div class="text">
      <h2>{{this.userService.user.firstName}}</h2>
      <h4>Anunturi:</h4>
    </div>
  </div>
  <h3>Anunturi</h3>
  <div class="carduri">
    <div *ngFor="let listing of listingsService.listingz" class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{listing.imageSource}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{listing.title}}</h5>
        <p class="card-text">{{listing.description}}</p>
        <a class="btn btn-primary" (click)=item(listing.listingID,this.userService.user.userID)>Vezi anuntul</a>
      </div>
    </div>
  </div>
</body>