textarea {
    resize: none;
    height: 7em;
}

.col-md-8 {
    display: flex;
    justify-content: center;
}
/* Chrome, Safari, Edge, Opera */
#numar::-webkit-outer-spin-button,
#numar::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#numar[type=number] {
  -moz-appearance: textfield;
}
.container {
    background-color: white;
    margin-top: 5em;
    margin-bottom: 5em;
    min-width: 55em;
}

.row {
    flex-wrap: nowrap;

}

.col-md-7 {
    border-left: solid 1px grey;
    margin-left: 0px;
    padding: 0em 5em;
}


.form-check-input {
    background-color: #1266f1;
    border-color: #1266f1;
}

.mb-4 a {
    color: #1266f1;
}

.btn {
    background-color: #1266f1;
    border-color: #1266f1;
    margin: 2em 0em;
    color: white;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

form button {
    width: 100%;
}

.red {
    color: red;
    font-size: smaller;
}

section{
    padding: 4rem 0em 8em 0em;
    background-color: #f8f8f8;
}
.pret{
    display: flex;
}
.pret span{
    padding: 0.15em 0.6em;
    text-align: center;
    color:gray;
    font-size: x-large;
}
.photo{
    width: 50em;
    height: 30em;
    display: flex;
    justify-content: center;
}
