
<body>
<div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="pictogramă casă">
      </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Car_icon_alone.png" alt="pictogramă mașină">
        </div>
      </div>
      <div class="col">
        <button class="fill card mb-4 rounded-3 shadow-sm">
            <img src="E:\Faculta\licenta\Git\MarketApp\src\app\MainPage\main\noun-call-4642898.png" alt="pictogramă electronice">
        </button>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <img src="src\assets\img\Untitled.png" alt="pictogramă electrocasnice">
        </div>
      </div>    
</div>
<div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <img src="src\assets\img\noun-washing-machine-1552906.png" alt="pictogramă casă">
    </div>
  </div>
  <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
          <img src="src\assets\img\noun-washing-machine-1552906.png" alt="pictogramă mașină">
      </div>
    </div>
    <div class="col">
      <button class="fill card mb-4 rounded-3 shadow-sm">
          <img src="E:\Faculta\licenta\Git\MarketApp\src\app\MainPage\main\noun-call-4642898.png" alt="pictogramă electronice">
      </button>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
          <img src="src\assets\img\noun-washing-machine-1552906.png" alt="pictogramă electrocasnice">
      </div>
    </div>    
</div>
<div class="anunturi-recente">
  <h2>Anunțuri recente</h2>
  <div class="link dropdown">
    
    </div>
  <div class="carduri">
  <div *ngFor="let listing of serviceL.listingz" class="card" style="width: 18rem;">
    <img class="card-img-top" src="src\assets\img\noun-washing-machine-1552906.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{listing.title}}</h5>
      <p class="card-text">{{listing.description}}</p>
      <a (click)=item(listing.listingID,listing.userID) class="btn btn-primary">Contacteaza cumparatorul</a>
    </div>
  </div>
    
</div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</body>
