
<body>
  <div class="categorii">
<div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
    <div class="col">
      <a class="fill card mb-4 rounded-3 shadow-sm" href="/Category/5">
        <img src="https://localhost:44309/images/casa.png" alt="pictogramă casă">
        <h6>Imobiliare</h6>
      </a>
    </div>
    <div class="col">
      <a class="fill card mb-4 rounded-3 shadow-sm" href="/Category/2">
            <img src="https://localhost:44309/images/cars.png" alt="pictogramă mașină">
            <h6>Automobile</h6>
      </a>
      </div>
      <div class="col">
        <a class="fill card mb-4 rounded-3 shadow-sm" href="/Category/3">
            <img src="https://localhost:44309/images/telefon2.png" alt="pictogramă electronice">
            <h6>Electronice</h6>
        </a>
      </div>
      <div class="col">
        <a class="fill card mb-4 rounded-3 shadow-sm" href="/Category/4">
            <img src="https://localhost:44309/images/electrocasnice.png" alt="pictogramă electrocasnice">
            <h6>Electrocasnice</h6>
        </a>
      </div>    
</div>
<div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
  <div class="col">
    <a class="fill card mb-4 rounded-3 shadow-sm" href="/Category/1">
      <img src="https://localhost:44309/images/animale.png" alt="pictogramă animale">
      <h6>Animale de companie</h6>
    </a>
  </div>
  <div class="col">
    <a class="fill card mb-4 rounded-3 shadow-sm" href="/Category/5">
          <img src="https://localhost:44309/images/inginer.png" alt="pictogramă muncitor">
          <h6>Munca</h6>
    </a>
    </div>
    <div class="col">
      <a class="fill card mb-4 rounded-3 shadow-sm" href="/Category/1">
          <img src="https://localhost:44309/images/minge.png" alt="pictogramă activitati">
          <h6>Sport</h6>
      </a>
    </div>
    <div class="col">
      <a class="fill card mb-4 rounded-3 shadow-sm" href="/Category/3">
          <img src="https://localhost:44309/images/sudor.png" alt="pictogramă unelte">
          <h6>Unelte</h6>
      </a>
    </div>    
</div>
</div>
<div class="anunturi-recente">
  <h2>Anunțuri recente</h2>
  <div class="carduri row row-cols-1 row-cols-md-4 mb-4 text-center">
  <div *ngFor="let listing of serviceL.listingz" class="col">
    <div class="fill card mb-4 rounded-3">
    <img class="card-img-top" src="{{listing.imageSource}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{listing.title}}</h5>
      <p class="card-text">{{listing.description}}</p>
      <a (click)=item(listing.listingID,listing.userID) class="btn btn-primary">Vizualizeaza anuntul</a>
    </div>
  </div>
</div>
</div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</body>
