<header id='navbar' class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 0.5fr 1fr 0.5fr;">
        <a href="/MainPage"><h3 class="titlu" >Virutal Market</h3></a>

      <div class="d-flex align-items-center">
        <form class="cautare container-fluid d-grid align-items-center" style="grid-template-columns: 2fr 1fr 0.2fr;">
          <input type="search" style="border-radius: 5px 0px 0px 5px;" class="form-control" placeholder="Căutare..." aria-label="Căutare">
          <input type="search" style="border-radius: 0px;" class="form-control" placeholder="Locație..." aria-label="Locație">
          <button style="border-radius: 0px 5px 5px 0px;" type="button" class="btn">
            <i class="fas fa-search"></i>
          </button>
        </form>
    </div>
        <div class="flex-shrink-0 dropdown d-flex justify-content-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-27.jpg" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="#">Adaugă anunț</a></li>
            <li><a class="dropdown-item" href="#">Anunțurile mele</a></li>
            <li><a class="dropdown-item" href="#">Profil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a id="Logout" (click)="logout()" *ngIf="loggedIn" href="/MainPage" class="dropdown-item">Delogare</a></li>
            <li><a id="Login" class="dropdown-item" *ngIf="!loggedIn" href="/Login">Logare</a></li>
          </ul>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
<footer class="footer_area section_padding_130_0">
    <div class="container">
      <div class="row">
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Footer Logo-->
            <div class="footer-logo mb-3"></div>
            <p>Appland is completely creative, lightweight, clean app landing page.</p>
            <!-- Copywrite Text-->
            <div class="copywrite-text mb-5">
              <p class="mb-0">Made with <i class="lni-heart mr-1"></i>by <a class="ml-1" href="https://wrapbootstrap.com/user/DesigningWorld">Designing World</a></p>
            </div>
            <!-- Footer Social Area-->
            <div class="footer_social_area"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i class="fa fa-skype"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></div>
          </div>
        </div>
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Widget Title-->
            <h5 class="widget-title">About</h5>
            <!-- Footer Menu-->
            <div class="footer_menu">
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Corporate Sale</a></li>
                <li><a href="#">Terms &amp; Policy</a></li>
                <li><a href="#">Community</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Widget Title-->
            <h5 class="widget-title">Support</h5>
            <!-- Footer Menu-->
            <div class="footer_menu">
              <ul>
                <li><a href="#">Help</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Term &amp; Conditions</a></li>
                <li><a href="#">Help &amp; Support</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Widget Title-->
            <h5 class="widget-title">Contact</h5>
            <!-- Footer Menu-->
            <div class="footer_menu">
              <ul>
                <li><a href="#">Call Centre</a></li>
                <li><a href="#">Email Us</a></li>
                <li><a href="#">Term &amp; Conditions</a></li>
                <li><a href="#">Help Center</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>