.prod{
    display: flex;
}
.card{
    margin: 0% 4em;
    padding: 1em 1em;
}
.carousel{
    width: 55em;
    min-width: 45em;
}
body{
    padding: 4rem 0em 8em 0em;
    background-color: #f8f8f8;
}
.descriere{
    margin-left: 1em;
    border-left: 1px solid #afafaf;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 1em;
}
.descriere button{
    color: rgb(240, 90, 49);
    border-color: rgb(240, 90, 49);
    font-size: larger;
    min-width: 13em;
}
.descriere button:hover{
    color: white;
    background-color: rgb(240, 90, 49);
}

.carousel-indicators{
    background-color: black;
    opacity: .85;
    margin-left: 23em;
    margin-right: 23em;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    min-width: 2em;
}
.author{
    margin-top: 2em;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 0.7em;
    border-bottom: 1px solid #d4d4d4;
    margin: 0px 2em
}

.title img{
    width: 5em;
    height: 5em;
    border-radius: 7em;
}

.review{
    margin:0.5em 1em;
}
.rating i{
    color:yellow;
    -webkit-text-stroke: 1px black;
}
.descriere h5::first-line{
    font-weight: bold;
}
.descriere h5{
    font-weight: 400;
}
.title a{
    text-decoration: none;
    color:black;
}
