<body>
  <div class="card">
    <h2>{{service.listing.title}}</h2>
    <div class="prod">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="20000">
            <img
              src="{{service.listing.imageSource}}"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="20000">
            <img
              src="https://static.stacker.com/s3fs-public/styles/slide_desktop/s3/2019-03/Screen%20Shot%202019-03-14%20at%2010.56.48%20AM.png"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="20000">
            <img
              src="https://www.investopedia.com/thmb/U9hwM7PAaICucCo6D_ZQdy-k5qw=/792x446/filters:fill(auto,1)/Screen_Shot_2019-06-05_at_1.26.32_PM-dac1adde23c240a4825240d08bd977b0.jpg"
              class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="descriere">
        <h5 style="white-space: pre-wrap">{{service.listing.description}}</h5>
        <button (click)="getUser()" type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone"
            viewBox="0 0 16 16">
            <path
              d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z">
            </path>
          </svg>
          Contacteaza vanzatorul
        </button>
      </div>
    </div>
  </div>
  Posted by
  <div class="card author">
    <div class="title">
      <img
        src="https://static.stacker.com/s3fs-public/styles/slide_desktop/s3/2019-03/Screen%20Shot%202019-03-14%20at%2010.56.48%20AM.png"
        alt="...">
      <a href='/UserListings/{{this.username.user.userID}}'>{{this.username.user.firstName}}</a>
    </div>
    <div class="reviews">
      <div class="card review shadow-sm" *ngFor="let rev of review.reviews">
        <div class="rev-text">
          {{rev.text}}
        </div>
        <div class="rating">
          {{rev.rating}}
          <i class="fa-solid fa-star"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{this.username.user.firstName}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{this.username.user.lastName}}<br>
          {{this.username.user.userID}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="UserListings(this.username.user.userID)">Vezi toate anunturile utilizatorului</button>
          <button type="button" class="btn btn-primary">Inapoi</button>
        </div>
      </div>
    </div>
  </div>
</body>